[submodule "compot"]
	path = compot
	url = git@github.com:EmanuelLaude/compot.git
[submodule "third_party/maros_meszaros_qpbenchmark"]
	path = third_party/maros_meszaros_qpbenchmark
	url = https://github.com/qpsolvers/maros_meszaros_qpbenchmark.git
